.carousel-container {
  overflow: hidden;
  border: 1px solid black; /* Borde para visualización */
  width: 100%; /* Ajusta el ancho según sea necesario */
}

.carousel-container p {
  margin: 0;
  animation: marquee 10s linear infinite; /* Animación de desplazamiento */
}

.carousel-container span {
  display: inline-block;
  padding-right: 20px; /* Espacio entre palabras */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
